body, html{
    background-color: white;
}

.Me{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.Me:hover{
    opacity: 0.3;
}

.splash{
    height: 100vh;
    width: 100vh;
}

.center{
    display: block;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 50vh;
    border: 3px solid white;
    text-align: center;
}
