@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: initial;
  background: linear-gradient(135deg, #6a1b9a, #121212);
  background-size: cover;
  background-attachment: fixed;
}
